<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="SeleniumPractice">
  <test thread-count="5" name="SeleniumPracticeTest">
  <classes>
  <class name = "(default package).FirstClass"/>
  </classes>
  </test> <!-- SeleniumPracticeTest -->
</suite> <!-- SeleniumPractice -->
